<template>
  <div class="q-pa-md">
    <Welcome id="about" :language="language"/>
    <Works id="works" :language="language"/>
    <Contact id="contact" :language="language"/>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import Works from 'components/Works';
import Welcome from 'components/Welcome';
import Contact from 'components/Contact';

export default defineComponent({
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'Index',
  components: {
    Welcome,
    Works,
    Contact,
  },
  props: {
    language: {
      type: String,
      required: true,
    },
  },
});

</script>

<style scoped>

</style>
