<template>
    <div class="row">
        <div class=" col-md-6 col-sm-12 contact-form">
            <p class="text-center">{{ localTextData[localLanguage].formMain }}</p>
            <q-form
                    @submit="onSubmit"
                    @reset="onReset"
                    class="q-gutter-md"
            >
                <q-input
                        rounded outlined
                        v-model="name"
                        :label="localTextData[localLanguage].nameFieldLabel"
                        lazy-rules
                        :rules="[
          val => val !== null && val !== '' || localTextData[localLanguage].nameFieldRule
        ]"
                />

                <q-input
                        rounded outlined
                        type="email"
                        v-model="email"
                        :label="localTextData[localLanguage].emailFieldLabel"
                        lazy-rules
                        :rules="[
          val => val !== null && val !== '' || localTextData[localLanguage].emailFieldRule1,
                    val => val.includes('@')  || localTextData[localLanguage].emailFieldRule2

        ]"
                />

                <q-input
                        rounded outlined
                        type="textarea"
                        v-model="message"
                        :label="localTextData[localLanguage].messageFieldLabel"
                        lazy-rules
                        :rules="[
          val => val !== null && val !== '' || localTextData[localLanguage].messageFieldRule
          ]"
                />
                <div class="flex justify-end">
                    <q-btn :label="localTextData[localLanguage].resetBtnLabel"
                           type="reset" color="primary" flat
                           class="q-ml-sm"/>
                    <q-btn :label="localTextData[localLanguage].SubmitBtnLabel"
                           type="submit" color="primary"/>
                </div>
            </q-form>
        </div>
        <div class="col-6" :hidden="$q.screen.lt.md">
            <div id="map" ></div>
        </div>
    </div>
</template>

<script>
import { useQuasar } from 'quasar';
import textData from 'assets/textData.json';
import {
  computed, defineComponent, onMounted, ref,
} from 'vue';
import geojsonMaps from 'assets/geojsonMaps.json';
import Mapbox from 'mapbox-gl';
import logoAntoineLibouban from 'assets/logo_antoine_libouban.png';
import emailjs from '@emailjs/browser';

export default defineComponent({
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'contact',
  props: {
    language: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const $q = useQuasar();
    const localTextData = textData.contact;
    const localLanguage = computed(() => props.language);
    const name = ref(null);
    const email = ref(null);
    const message = ref(null);
    if ($q.screen.width > 800) {
      setTimeout(() => {
        // eslint-disable-next-line no-use-before-define
        map.addLayer({
          id: 'lineMap',
          source: 'lineMap',
          type: 'line',
          paint: {
            'line-width': 2,
            'line-color': '#007cbf',
          },
        });
      }, 2000);
    }

    function AddMapMarker(logoUrl, marker) {
      // Create a DOM element for each marker.
      const el = document.createElement('div');
      el.className = 'marker';
      el.style.backgroundImage = `url(${logoUrl})`;
      el.style.width = `${marker.properties.iconSize[0]}px`;
      el.style.height = `${marker.properties.iconSize[1]}px`;
      el.style.backgroundSize = '100%';

      el.addEventListener('click', () => {
        window.alert(marker.properties.message);
      });

      // Add markers to the map.
      new Mapbox.Marker(el)
        .setLngLat(marker.geometry.coordinates)
        // eslint-disable-next-line no-use-before-define
        .addTo(map);
    }

    const accessToken = 'pk.eyJ1IjoibGlib3ViIiwiYSI6ImNrMGNiZ2FtYTEwZjYzYm53aXU2M3k5cTEifQ.leaczFXlCSo8hpdPzuEvow';
    let map = {};
    Mapbox.accessToken = accessToken;
    onMounted(() => {
      if ($q.screen.width > 800) {
        map = new Mapbox.Map({
          container: 'map', // container id
          style: 'mapbox://styles/mapbox/streets-v11',
          center: [-0.375000, 39.466667],
          zoom: 5, // starting zoom
        });
        map.addControl(new Mapbox.NavigationControl());
        geojsonMaps.iconMe.features.forEach((marker) => {
          AddMapMarker(logoAntoineLibouban, marker);
        });
      }
    });
    return {
      email,
      message,
      accessToken,
      map,
      logo_antoine_libouban: logoAntoineLibouban,
      name,
      localTextData,
      localLanguage,

      onSubmit() {
        const mailParams = {
          name: name.value,
          email: email.value,
          message: message.value,
        };
        emailjs.init('CRYY5RKzGZxs1pT9y');
        emailjs.send(
          'service_tql473b',
          'template_0swemk9',
          mailParams,
        ).then(() => {
          $q.notify({
            color: 'positive',
            textColor: 'white',
            icon: 'cloud_done',
            message: 'Email send',
          });
        }).catch(() => {
          $q.notify({
            color: 'negative',
            textColor: 'white',
            icon: 'cloud_done',
            message: 'error email not send',
          });
        });
      },
      onReset() {
        name.value = null;
        email.value = null;
        message.value = null;
      },

    };
  },

});
</script>

<style scoped>
.contact-form {
    padding-top: 22vh;
    padding-right: 5vw;
    padding-left: 5vw;
}

#map {
    display: flex;
    margin-top: 7.5vh;
    margin-right: 3vw;
    height: 80vh;
    border-radius: 10px;
}
</style>
