<template>
  <div v-if="fileData.src"   >
        <Slider :images="[fileData,fileData]"  />
    <q-tooltip
        transition-show="flip-right"
        transition-hide="flip-left">
      {{fileData.toolTipTxt}}
    </q-tooltip>
  </div>
</template>

<script>

// eslint-disable-next-line import/no-named-default
import { default as Slider } from 'troisjs/src/components/sliders/Slider1.vue';

export default {
  name: 'ImgTree',
  components: { Slider },
  props: {
    fileData: {
      required: true,
      type: Object,
    },
  },

};
</script>

<style scoped>
</style>
