<template>
  <q-btn
      flat
      dense
      round
      @click="toggleLeftDrawer"
      aria-label="Menu"
      icon="menu"
  >
    <q-tooltip transition-show="flip-right"
               transition-hide="flip-left">
      Menu
    </q-tooltip>
  </q-btn>
  <q-drawer
      v-model="drawer"
      show-if-above
      :width="175"
      :breakpoint="500"
  >
    <q-img class="absolute-top text-center" style="height: 10vh">
      <div class="absolute-bottom ">
        <q-avatar>
          <img src="~assets/logo_antoine_libouban.png" alt="Antoine Libouban logo">
        </q-avatar>
        <div class="text-weight-bold text-center">Antoine Libouban</div>
      </div>
    </q-img>
    <q-scroll-area
        style="" class="middle-nav">
      <q-list padding>
        <q-item clickable v-ripple to="/about">
          <q-item-section class="text-center">
            {{ localTextData[localLanguage].btnAbout }}
          </q-item-section>
        </q-item>

        <q-item clickable v-ripple to="/works">
          <q-item-section class="text-center">
            {{ localTextData[localLanguage].btnWorks }}
          </q-item-section>
        </q-item>

        <q-item clickable v-ripple to="/contact">
          <q-item-section class="text-center">
            {{ localTextData[localLanguage].btnContact }}
          </q-item-section>
        </q-item>
      </q-list>

      <div class="flex flex-center">
        <q-btn v-if="localLanguage !== 'french'" flat @click="chooseLanguage('french')">
          <q-avatar size="42px">
            <img src="~assets/flags/fr-flag.png" alt="french flag">
          </q-avatar>
          <q-tooltip>
            mettre le site <br> en Français
          </q-tooltip>
        </q-btn>

       <q-btn flat v-if="localLanguage !== 'english'" @click="chooseLanguage('english')">
         <q-avatar size="42px">
           <img src="~assets/flags/uk-flag.png" alt="uk flag">
         </q-avatar>
         <q-tooltip>
           Choose English <br> language
         </q-tooltip>
       </q-btn>
        <!--
       <q-btn flat v-if="localLanguage !== 'spanish'" @click="chooseLanguage('spanish')">
         <q-avatar size="42px">
           <img src="~assets/flags/sp-flag.png" alt="spanish flag">
         </q-avatar>
         <q-tooltip>
           poner el sitio <br> en Español
         </q-tooltip>
       </q-btn>
  -->
      </div>

      <div class="social-btns-main-drawer">
        <q-btn round @click="linkToLinkedin">
          <q-avatar size="42px">
            <img src="~assets/icons8-linkedin-2.gif" sizes="24px" alt="logo linkedin"/>
          </q-avatar>
        </q-btn>
        <q-btn round @click="linkToGitHub">
          <q-avatar size="42px">
            <img src="icons/gitHubLogo.png" sizes="24px" alt="logo github"/>
          </q-avatar>
        </q-btn>
        <q-btn round @click="linkToGitLab">
          <q-avatar size="42px">
            <img src="icons/gitlabLogo.png" sizes="24px" alt="logo gitlab"/>
          </q-avatar>
        </q-btn>
      </div>
    </q-scroll-area>

  </q-drawer>
</template>

<script>
import { ref } from 'vue';
import textData from 'assets/textData.json';
import { openURL } from 'quasar';

export default {
  name: 'MainDrawer',
  emits: ['changeLanguage'],
  setup(props, { emit }) {
    const localLanguage = ref('french');
    const drawer = ref(false);

    const selectLocalLanguage = (nvLang) => {
      localLanguage.value = nvLang;
    };
    const localTextData = textData.mainDrawer;

    function toggleLeftDrawer() {
      drawer.value = !drawer.value;
    }

    const linkToLinkedin = () => {
      openURL('https://www.linkedin.com/in/antoine-libouban-a58811113/');
    };
    const linkToGitHub = () => {
      openURL('https://github.com/liboub');
    };
    const linkToGitLab = () => {
      openURL('https://gitlab.com/niktopelo');
    };
    const chooseLanguage = (language) => {
      selectLocalLanguage(language);
      emit('changeLanguage', language);
    };

    return {
      localLanguage,
      localTextData,
      drawer,
      selectLocalLanguage,
      toggleLeftDrawer,
      linkToLinkedin,
      linkToGitHub,
      linkToGitLab,
      chooseLanguage,
    };
  },
};
</script>

<style scoped>
.social-btns-main-drawer {
  padding-top: 8vh;
  padding-left: 0.75vw;
}

.middle-nav {
  background-color: #EDD030;
  opacity: 0.75;
  border-right: 1px solid #ddd;
  margin-top: 10vh;
  padding-top: 10vh;
  height: calc(100% - 10vh);
}
</style>
