<template>
  <div class="row flex flex-center welcome-section">
    <div class="col-xs-12" :hidden="$q.screen.gt.sm" >
      <q-img
        src="welcomeImage.gif"
        style="height: 80vh"
        alt="antoine libouban french developer full stack "
      />
    </div>
    <div class="col-md-4 col-xs-12 text-center" >
    <h3>I'm Antoine Libouban</h3>
    <br>
    <h4>Full-stack developer</h4>
    </div>
    <div class="col-md-6 " :hidden="$q.screen.lt.md" >
      <q-img
        src="welcomeImage.gif"
        style="height: 80vh"
        alt="antoine libouban french developer full stack "
      />
    </div>
  </div>
  <div class="row flex flex-center">
    <h4>{{ localTextData[localLanguage].title }}</h4>
  </div>
    <div class="row text-center">

    <p v-for="(field,key) in localTextData[localLanguage].description  " :key="key" class="col-12">
      {{field}}
    </p>
  </div>
  <div class="row flex flex-center">
    <h4 :hidden="$q.screen.lt.md">{{ localTextData[localLanguage].skillsTitle}}</h4>
  </div>
  <div class="row  justify-evenly   skills-section ">
    <q-intersection
      :hidden="$q.screen.lt.md"
      v-for="(imageData,k) in  localTextData['skills']" :key="k"
      transition="rotate"
      class="example-item"

    >
      <q-img :src="imageData.src" alt="antoine libouban french developer full stack "
             :ratio="16/9" class="skill-img"
      >
        <q-tooltip
          transition-show="flip-right"
          transition-hide="flip-left">
          {{ imageData.toolTipTxt }}
        </q-tooltip>
      </q-img>

    </q-intersection>
  </div>

</template>

<script>
import { computed, defineComponent } from 'vue';
import textData from 'assets/textData.json';

export default defineComponent({
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'Welcome',
  props: {
    language: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const localTextData = textData.index;
    const localLanguage = computed(() => props.language);
    return {
      localTextData,
      localLanguage,
    };
  },
});
</script>

<style scoped>
.skills-section {
  padding-top: 5vh;
  padding-bottom: 15vh;
  width: 80vw;
  margin-left: 10vw;
}

.example-item {
  height: 120px;
  width: 200px;
}
.welcome-section {
  margin-top: 3vh;
}
.skill-img {
  border-color: #369450;
  border-width: 0.25vh;
  border-style: solid;
}

</style>
