<template>
  <q-dialog v-model="localIsOpen" >
    <q-card class="my-font">
      <q-card-section >
        <div class="text-h6 text-center">{{txtDialog.title}}</div>
      </q-card-section>

      <q-card-section class="q-pt-none" >
        <q-img :src="localImage" fit="cover"/>
        <p>{{txtDialog.descriptionMission}}</p>
        <p>{{txtDialog.descriptionProjet}}</p>
        <p>{{txtDialog.tech}}</p>
        <div v-if="txtDialog.gitLinks">
          Git :
          <span v-for="(linkData , key) in txtDialog.gitLinks"  :key="key" class="git-section" >
            <a :href="linkData.link" target="_blank">{{ linkData.label }}</a>
          </span>
        </div>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn v-if="txtDialog.visitBtnUrl" flat :label="txtDialog.visitBtnLabel"
               color="primary" @click="VisitWebsite(txtDialog.visitBtnUrl)" />
        <q-btn flat :label="txtDialog.closeBtnLabel" color="primary" @click="closeDialog" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { computed } from 'vue';

export default {
  name: 'WorkDialog',
  props: {
    detailDialogIsOpen: {
      required: true,
    },
    txtDialog: {
      required: true,
    },
  },
  setup(props) {
    const localIsOpen = computed(() => props.detailDialogIsOpen);
    const localImage = computed(() => props.txtDialog.imageDialog);
    return {
      localIsOpen, localImage,
    };
  },
  methods: {
    closeDialog() {
      this.$emit('closeDialog');
    },
    VisitWebsite(url) {
      window.open(url);
    },
  },
};
</script>

<style scoped>
.git-section {
  margin-left: 1vw;
}
</style>
