<template>
  <div>
    <WorkDialog v-if="Object.entries(txtDialog).length > 0"
                :detail-dialog-is-open="detailDialogIsOpen"
                :txt-dialog="txtDialog" @closeDialog="closeDialog"/>
    <div class="row justify-center q-gutter-sm" >
      <q-intersection
          v-for="(txtData,key ) in localTextData[localLanguage]"
          :key="key"
          transition="rotate"
          class="example-item"
      >
        <q-card class="q-ma-sm work-card" @click="OpenDetailDialog(txtData)" >
          <q-img :src="txtData.imagePres" :ratio="16/9">
            <div class="absolute-bottom">
              <div class="text-h6">{{ txtData.title }}</div>
            </div>
          </q-img>
        </q-card>
      </q-intersection>
    </div>
  </div>
</template>

<script>
import { computed, defineComponent, ref } from 'vue';
import textData from 'assets/textData.json';
import WorkDialog from 'components/WorkDialog';

export default defineComponent({
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'Works',
  components: {
    WorkDialog,
  },
  props: {
    language: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const detailDialogIsOpen = ref(false);
    const txtDialog = ref({});
    const localTextData = textData.works;
    const OpenDetailDialog = (txtData) => {
      txtData = { ...txtData, ...textData.works.generic[props.language] };
      txtDialog.value = txtData;
      detailDialogIsOpen.value = true;
    };
    const closeDialog = () => {
      detailDialogIsOpen.value = false;
    };
    const localLanguage = computed(() => props.language);

    return {
      detailDialogIsOpen,
      localTextData,
      localLanguage,
      txtDialog,
      closeDialog,
      OpenDetailDialog,
    };
  },
});
</script>

<style scoped>
.example-item {
  height: 320px;
  width: 480px;
}
.work-card :hover {
  cursor: pointer;
}
</style>
