// app global css in SCSS form
@font-face {
  font-family: BoismenLight;
  src: url(./fonts/ViceCitySans.otf);
}

// declare a class which applies it
.my-font {
  font-family: 'BoismenLight';
}

p {
  font-size:2vh;
}
