<template>
  <q-layout view="lHh Lpr lFf" class="main-page">
    <q-header elevated>
      <q-toolbar class="toolbar-nav">
        <q-avatar @click="linkToHome">
          <img src="icons/logo_antoine_libouban.png">
        </q-avatar>
        <q-space />
        <q-toolbar-title  shrink>
          <a href="#about">{{localTextData[language].btnAbout}}  </a>
        </q-toolbar-title>
        <q-toolbar-title shrink>
          <a href="#works">{{localTextData[language].btnWorks}}  </a>
        </q-toolbar-title>
        <q-toolbar-title  shrink>
          <a href="#contact">  {{localTextData[language].btnContact}} </a>
        </q-toolbar-title>
        <q-btn v-if="language !== 'french'" flat @click="changeLanguage('french')">
          <q-avatar size="42px">
            <img src="~assets/flags/fr-flag.png" alt="french flag">
          </q-avatar>
          <q-tooltip>
            Mettre le site <br> en Français
          </q-tooltip>
        </q-btn>
        <q-btn flat v-if="language !== 'english'" @click="changeLanguage('english')">
          <q-avatar size="42px">
            <img src="~assets/flags/uk-flag.png" alt="uk flag">
          </q-avatar>
          <q-tooltip>
            Choose English <br> language
          </q-tooltip>
        </q-btn>

      </q-toolbar>
    </q-header>

    <q-footer elevated reveal class="footer-section">
      <q-toolbar>
        <q-toolbar-title class="footer-title" shrink>
          Designed and Developed by Antoine Libouban</q-toolbar-title>
        <q-space />
        <q-toolbar-title class="footer-title" shrink>
          Copyright © 2023 Antoine Libouban</q-toolbar-title>
        <q-space />

        <q-toolbar-title shrink>
        <q-btn round @click="linkToLinkedin">
          <q-avatar size="42px">
            <img src="~assets/icons8-linkedin-2.gif" sizes="24px" alt="logo linkedin"/>
          </q-avatar>
          <q-tooltip>
            Linkedin
          </q-tooltip>
        </q-btn>
        <q-btn round @click="linkToGitHub">
          <q-avatar size="42px">
            <img src="icons/gitHubLogo.png" sizes="24px" alt="logo github"/>
          </q-avatar>
          <q-tooltip>
            Github
          </q-tooltip>
        </q-btn>
        <q-btn round @click="linkToGitLab">
          <q-avatar size="42px">
            <img src="icons/gitlabLogo.png" sizes="24px" alt="logo gitlab"/>
          </q-avatar>
          <q-tooltip>
            Gitlab
          </q-tooltip>
        </q-btn>
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>

    <q-page-container >
      <router-view :language="language"/>
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue';
import textData from 'assets/textData.json';
import { openURL } from 'quasar';

export default defineComponent({
  name: 'MainLayout',
  setup() {
    const language = ref('english');
    const localTextData = textData.mainDrawer;

    const changeLanguage = (newLang) => {
      language.value = newLang;
    };

    const linkToLinkedin = () => {
      openURL('https://www.linkedin.com/in/antoine-libouban-a58811113/');
    };
    const linkToGitHub = () => {
      openURL('https://github.com/liboub');
    };
    const linkToGitLab = () => {
      openURL('https://gitlab.com/niktopelo');
    };
    const linkToHome = () => {
      openURL('https://antoinelibouban.com');
    };

    return {
      language,
      localTextData,
      linkToHome,
      changeLanguage,
      linkToLinkedin,
      linkToGitHub,
      linkToGitLab,
    };
  },
  methods: {},

});
</script>

<style scoped>
.main-page{
 //background: #F3F3F3;
  background: #CEDCE5;
}
.toolbar-nav {
  background: #369450;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.footer-title{
  font-size: 1.5vh;
}
.footer-section{
  background: #369450
}

</style>
